[loggers]
keys=root

[handlers]
keys=console, file

[formatters]
keys=default

[formatter_default]
format=%(asctime)s pid:%(process)d - %(module)s::%(funcName)s(ln:%(lineno)d) - %(levelname)s: %(message)s
datefmt=%m-%d %H:%M:%S


[logger_root]
level=INFO
handlers=file, console
qualname=root

[handler_console]
level=INFO
class=StreamHandler
formatter=default
args=(sys.stdout, )

[handler_file]
level=INFO
class=handlers.TimedRotatingFileHandler
formatter=default
args=('%(logdir)s/app.log', 'D', 1, 30)
