[project]
directory = "[[ target ]]"
project_name = "[[ proj ]]"
app_name = "[[ app ]]"
[%- if bare %]
bare = true
[%- endif %]
[%- if from %]
from = "[[ from ]]"
[%- endif %]
[%- if checkout %]
checkout = "[[ checkout ]]"
[%- endif -%]
