from flask import url_for

import pytest

from [[ app ]].run import create_app
from [[ app ]].core.database import db as _db
[%- if not bare %]
from .factories import UserFactory
[%- endif %]


@pytest.fixture(scope='session')
def app():
    _app = create_app('test')

    with _app.app_context():
        _db.create_all()

    ctx = _app.test_request_context()
    ctx.push()

    yield _app

    ctx.pop()


@pytest.fixture(scope='session')
def db(app):
    _db.app = app
    with app.app_context():
        _db.create_all()

    yield _db

    _db.session.close()
    _db.drop_all()


@pytest.fixture(scope='session')
def client(app):
    return app.test_client()


[% if not bare -%]
@pytest.fixture(scope='module')
def user(db):
    user = UserFactory(password='wordpass')
    user.save()
    return user


@pytest.fixture
def headers(client, user):
    payload = {
        'username': user.username,
        'password': 'wordpass' 
    }
    client.post(url_for('session.create'), json=payload)
    return {
        'Authorization': f'Bearer {user.token}'
    }
[% endif %]
