[[ '[[' ]]source[[ ']]' ]]
name = "pypi"
[% if pypi -%]
url = "https://[[ pypi ]]/simple"
[%- else -%]
url = "https://pypi.org/simple"
[%- endif %]
verify_ssl = true

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-apispec = "*"
[% if not bare %]
Flask-Bcrypt = "*"
Flask-Jwt-Extended = "*"
[% endif %]
marshmallow-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"
factory-boy = "*"

[requires]
python_version = "3.7"
